In [1]:
using CSV
using DataFrames
using Random
using StatsBase

In [2]:
df = CSV.File("data/luck_draw.csv", normalizenames=true) |> DataFrame
df=dropmissing(df)

23×2 DataFrame
 Row │ participant_id  hours
     │ Int64           Int64
─────┼───────────────────────
   1 │              1     98
   2 │              2     59
   3 │              3     51
   4 │              4    195
   5 │              5     39
   6 │              6     24
   7 │              7    164
   8 │              8    188
   9 │              9     29
  10 │             10    146
  11 │             11    101
  12 │             12    106
  13 │             13     31
  14 │             14    195
  15 │             15    130
  16 │             16    155
  17 │             17      2
  18 │             18    119
  19 │             19     90
  20 │             20     66
  21 │             21    132
  22 │             22     26
  23 │             23     26

In [3]:
"""
Returns the list of winners
"""

function all_winners(df)
    
    weights=df.hours./sum(df.hours)
    winners=sample(df.participant_id, Weights(weights),9,replace=false)
    return winners
end

all_winners (generic function with 1 method)

In [4]:
"""
Converts the list of winners of a gift into a string
"""

function convert(split)
    split=string.(split)
    splitstr=split[1]
    for i in split[2:end]
        splitstr=splitstr*", "*i
    end
    return splitstr
end

convert (generic function with 1 method)

In [5]:
Random.seed!(sum(df.hours)*size(df)[1])
winners=all_winners(df)
winner_ipad=winners[1]
winner_android=string.(winners[2:4])
winner_fitbit=string.(winners[5:9])

println("Congratulations to the winner of iPad Pro: $winner_ipad")
println("Congratulations to the winner of Android Mobile Phone: "*convert(winner_android))
println("Congratulations to the winner of FitBat Tracker: "*convert(winner_fitbit))

Congratulations to the winner of iPad Pro: 8
Congratulations to the winner of Android Mobile Phone: 10, 19, 1
Congratulations to the winner of FitBat Tracker: 11, 20, 16, 6, 4